* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

.holy-grail header {
    padding: 0 25px;
}

.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 25px;
}



/* 
FLEX 
Make body at least 100% height 
*/

.holy-grail {
    min-height: 100vh;
}

/* 
Let's do a column distribution (mobile first)
flex value is 1 1 auto to make body shrinkable and extensible
*/

.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

/* Content body item is made extensible too. */

.holy-grail-content {
    flex: 1 1 auto;
}

/* 
put first sidebar before content 
*/

.holy-grail-sidebar-1 {
    order: -1;
}

.holy-grail header,
.holy-grail footer {
    background-color: red;
}

/* .holy-grail header {
    position: fixed;
} */

.hg-sidebar {
    background-color: blue;
}

a {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media makes bigger screen */

@media (min-width: 768px) {
    .holy-grail-body {
        flex-direction: row;
    }

    .hg-sidebar {
flex: 0 0 200px;
    }
}

/* .holy-grail-sidebar-1,
.holy-grail-sidebar-2 { */
    /* background-image: url(CharlesCabo.jpeg); */
    /* background-size: 200px; */
/* } */

#Charles-1 {
     background-size: 400px;
}
